#contact {
  // make the sidebar differently on contact so you can click on map features
  .sidebar {
    width:0px;
    &:after {
      content:'';
      display:block;
      height:100%;
      border-right: 1px solid $border;
      position: fixed;
      left:47px;
      top: 0;
      pointer-events: none;
    }
  }
  header {
    padding-bottom: 52px;
  }
    footer {
      margin-top: 0;
    }
  

  .form {
    &__field {
      @include breakpoint(portraittablet-up) {
        max-width: 450px;
      }
      @include breakpoint(tablet-up) {
        max-width: 670px;
      }

      label {
        display: block;
        font-size: 14px;
        line-height: 2em;
      }
      input, textarea {
        border: 1px solid $border-solid;
        transition: border-color $ease;
        &:hover {
          border-color: $border-solid-hover;
        }
      }
    }
    &__submit {
      max-width: 670px;
    }
    .submit {
      white-space: nowrap;
      padding: 0;
      margin: 10px 0;
      @include breakpoint(portraittablet-up) {
        margin:0 0 0 30px;
        position: absolute;
        bottom: 0;
        float: none;
      }
      .icon {
        @include breakpoint(desktop-up) {
          top: auto;
        }
      }
    }
  }
}
.contactDetails {
  margin: 42px 0 50px;
  @include breakpoint(tablet-up) {
    margin: 92px 0 80px;
  }
}

.surname {
  display: none;
}

.contactGroup {
  @extend %grid;
  margin-bottom: 16px;
  @include breakpoint(tablet-up) {
    margin-bottom: 36px;
  }
  h4 {
    font-size: 14px;
    grid-column: 2/3;
    margin-top: 15px;
  }
  p, address {
    font-size: 24px;
    line-height: 34px;
    color: $highlight;
    font-weight: $lt;
    grid-column: 2/3;
    margin-bottom: 0;
    @include breakpoint(desktop-up) {
       grid-column: 3/4;
    }
  }
  ul {
    grid-column: 2/3;
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    margin-top: 8px;
    @include breakpoint(desktop-up) {
       grid-column: 3/4;
    }
    a {
      color: $text;
      text-decoration: underline;
      transition: color $ease;
      &:hover {
        color: $highlight;
      }
    }
  }
}

.thanks {
  height: 750px;
  display: flex;
  align-items: center;
  max-height: 50vh;
  opacity: 1;

  .content__intro {
    margin-bottom: 80px;
  }

  p {
    font-weight: $lt;
    font-size: 22px;
    @include breakpoint(portraittablet-up) {
      font-size: 27px;
    }
    @include breakpoint(desktop-up) {
      font-size: 30px;
    }
  }

  @include breakpoint(xxs-only) {
    br {
      display: none;
    }
  }
}

.form-submitted {
  .intro p, .form, .contactDetails, iframe {
    display:none;
  }

}

.map {
  margin-bottom: -4px;
  height: 400px;
  @include breakpoint(mobile-up) {
    height: 550px;
  }
  @include breakpoint(desktop-up) {
    height: 699px;
  }
}