#services {
  .sideTitle {
    margin-top: 40px;
    @include breakpoint(tablet-up) {
      margin-top: 80px;
    }
    @include breakpoint(desktop-up) {
      margin-top: 123px;
    }
    &.listContainer {
      margin-top: 0;
    }
    h5 {
      margin-top: 13px;
    }
    .content__intro {
      margin-bottom: 38px;
      p {
        font-size: 18px;
        line-height: 1.44;
        @include breakpoint(desktop-up) {
          margin-top: 8px;
        }

      }
    }
  }
  .arrowHover {
    .icon {
      display: none;
      @include breakpoint(tablet-up) {
        display: block;
      }
    }
  }
}

.serviceBanner {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;  
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  height: 0;
  padding-bottom: 36%;
  min-height: 230px;
  box-sizing: border-box;
  @include breakpoint(desktop-up) {
    position: absolute;
    height: 636px;
    padding: 0;
  }
}
.serviceBanner--after {
  position: absolute;
  top: 636px;
}

#services-item {
  main {
    @include breakpoint(desktop-up) {
      padding-top: 438px;
    }
  }
  .content {
    margin-top: 50px;
    @include breakpoint(tablet-up) {
      margin-top: 80px;
    }
    @include breakpoint(desktop-up) {
      margin-top: 104px;
    }
    &__text {
      p, ul {
        font-size: 15px;
        line-height: 1.44;
        margin-bottom: 0.8em;
        @include breakpoint(portraittablet-up) {
          font-size: 16px;
        }
        @include breakpoint(desktop-up) {
          font-size: 18px;
        }
      }
      ul {
        color: $highlight;
      }
    }
    &--indented {
      margin-top: 0;
      background: white;
      .content__text {
        background: white;
        max-width: 100%;
        padding-top: 30px;
        @include breakpoint(tablet-up) {
          padding-top: 70px;
        }
        @include breakpoint(desktop-up) {
          padding-top: 112px;
        }
        * {
         max-width:740px; 
        }
      }
      // unique layout for this page
      @include breakpoint(desktop-up) {
        background: transparent;
        .content__text {
          grid-column: 3/5;
        }
        &::before {
          content: '';
          grid-column: 2/3;
          background: white;
        }
        &::after {
          content: '';
          grid-column: 5/7;
          background: white;
        }
      }
    }
  }
  .sideTitle {
    h5 {
      @include breakpoint(tablet-up) {
        margin-top: 11px;
      }
    }
    &:before {
      content: '';
      background: rgba($text, 0.2);
      height: 1px;
      margin-bottom: 30px;
      grid-column: 1/7;
      @include breakpoint(desktop-up) {
        grid-column: 2/7;
        margin-bottom: 60px;
      }
    }
    &.large h5 {
      
      @include breakpoint(tablet-up) {
        margin-top: 21px;
      }
    }
  }
  .listContainer {
    margin-top: 39px;
    &:before {
      display: none;
    }
    .arrowHover {
      .icon {
        display: none;
        @include breakpoint(tablet-up) {
          display: block;
        }
      }
    }
  }
  .childlistIntro h3 {
    color: $text;
  }
  .pageGrid__author {
    color: $highlight;
  }
}

