/*
YUI 3.18.1 (build f7e7bcb)
Copyright 2014 Yahoo! Inc. All rights reserved.
Licensed under the BSD License.
http://yuilibrary.com/license/
*/

html {
  color: #000;
  background: #FFF;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before,
q:after {
  content: "";
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

/* to preserve line-height and selector appearance */

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  *font-size: 100%;
  /*to enable resizing for IE*/
}

/*because legend doesn't inherit in IE */

legend {
  color: #000;
}

/* YUI CSS Detection Stamp */

#yui3-css-stamp.cssreset {
  display: none;
}

body::after {
  content: '("xxs-only": (max-width, 350px), "mobile-only": (max-width, 549px), "mobile-up": (min-width, 550px), "portraittablet-only": (max-width, 767px), "portraittablet-up": (min-width, 768px), "tablet-only": (max-width, 1049px), "tablet-up": (min-width, 1050px), "desktop-up": (min-width, 1450px), "largedesktop-up": (min-width, 1725px))';
  display: none;
}

.form {
  position: relative;
  /*@include breakpoint(desktop-up) {
    grid-template-columns: 120px minmax(128px, 210px) 670px 2.4fr 2fr 120px !important;
  }*/
}

.form form {
  grid-column: 2/3;
}

@media (min-width: 1450px) {
  .form form {
    max-width: 100%;
    grid-column: 3/6;
  }
}

.form__inner {
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 768px) {
  .form__inner {
    grid-template-columns: minmax(440px, 450px) -webkit-min-content;
    grid-template-columns: minmax(440px, 450px) min-content;
  }
}

@media (min-width: 1050px) {
  .form__inner {
    grid-template-columns: minmax(440px, 600px) -webkit-min-content;
    grid-template-columns: minmax(440px, 600px) min-content;
  }
}

@media (min-width: 1450px) {
  .form__inner {
    grid-template-columns: 670px -webkit-min-content;
    grid-template-columns: 670px min-content;
  }
}

.form__text,
.form .disclaimer {
  grid-column: 1/3;
}

.form__field {
  grid-column: 1/3;
}

.form__submit {
  grid-column: 2;
}

@media (min-width: 768px) {
  .form__field {
    grid-column: 1;
  }
}

@media (min-width: 1450px) {
  .form__text,
  .form .disclaimer {
    grid-column: 1;
  }

  .form__submit {
    grid-column: 2;
  }
}

.form input,
.form textarea {
  border: 0;
  border-radius: 5px;
  width: 100%;
  padding: 0 23px;
  outline: 0;
  box-sizing: border-box;
  font-weight: 300;
  color: #111111;
  height: 60px;
  font-size: 17px;
}

@media (min-width: 550px) {
  .form input,
  .form textarea {
    border-radius: 10px;
    height: 62px;
  }
}

@media (min-width: 768px) {
  .form input,
  .form textarea {
    font-size: 22px;
  }
}

@media (min-width: 1450px) {
  .form input,
  .form textarea {
    height: 82px;
    font-size: 27px;
  }
}

.form textarea {
  padding: 23px;
  vertical-align: top;
  height: 175px;
}

@media (min-width: 550px) {
  .form textarea {
    height: 182px;
  }
}

.form .form__submit {
  position: relative;
}

.form .submit {
  height: 42px;
  border: 0;
  background: none;
  padding: 0 35px;
  cursor: pointer;
  outline: 0;
  color: #111111;
  font-size: 18px;
  min-width: 0;
  text-align: left;
  padding-right: 50px !important;
  transition: all 0.3s ease;
}

.form .submit .icon {
  position: absolute;
  right: 0;
}

.form .submit:hover {
  padding-right: 60px !important;
}

@media (min-width: 1450px) {
  .form .submit {
    height: 82px;
    font-size: 22px;
    padding-right: 0 !important;
  }

  .form .submit .icon {
    position: relative;
    right: auto;
  }

  .form .submit:hover {
    padding-right: 0 !important;
  }
}

.form .disclaimer {
  font-size: 16px;
  margin-top: 12px;
}

@media (min-width: 1450px) {
  .form .disclaimer {
    margin-top: 22px;
  }
}

.form .surname {
  display: none;
}

/*
.form {
  position: relative;
  .form__inner {
    display: grid;
    @include bp(small) {
      padding: 0;
      @extend %grid;
    }
  }
  .form__field {
    grid-column: 3/4;
    margin-top: 14px;
    label {
      display: block;
      font-size: 14px;
      line-height: 2em;
      margin-bottom: 8px;
    }
    input, textarea {
      height: 82px;
      border: 0;
      border-radius: 10px;
      width: 100%;
      padding: 0 23px;
      outline: 0;
      box-sizing: border-box;
      font-size: 27px;
      font-weight: $lt;
      background: $highlight-bg;
      color: $highlight;
    }
    textarea {
      padding: 23px;
      height: 182px;
      vertical-align: top
    }
  }
  .form__text {
    grid-column: 2/4;
    h4 {
      font-size: 30px;
      line-height: 43px;
      color: white;
      font-weight: $lt;
      margin-bottom: 20px;
    }
    p {
      font-size: 27px;
      line-height: 35px;
      font-weight: $lt;
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 18px;
      }
    }
  }
  .form__submit {
    position: relative;
  }

  .disclaimer {
    grid-column: 2/4;
    font-size: 16px;
    margin-top: 22px;
  }

  .surname {
    display:none;
  }


}*/

body {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p,
ul,
ol,
input,
button,
address,
h1,
h2,
h3,
h4,
h5,
h6,
aside {
  font-family: "Neue Helvetica W01", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #969696;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

.intro,
.intro * {
  font-weight: 300;
  line-height: 1.367em;
  letter-spacing: 0.4px;
}

.intro p,
.intro * p {
  font-size: 22px;
}

@media (min-width: 768px) {
  .intro p,
  .intro * p {
    font-size: 27px;
  }
}

@media (min-width: 1450px) {
  .intro p,
  .intro * p {
    font-size: 30px;
  }
}

.intro h1,
.intro * h1 {
  font-size: 24px;
  margin-bottom: 11px;
}

@media (max-width: 350px) {
  .intro h1,
  .intro * h1 {
    font-size: 21px;
  }
}

@media (min-width: 550px) {
  .intro h1,
  .intro * h1 {
    margin-top: 4px;
  }
}

@media (min-width: 768px) {
  .intro h1,
  .intro * h1 {
    font-size: 32px;
  }
}

@media (min-width: 1050px) {
  .intro h1,
  .intro * h1 {
    margin-top: 0;
  }
}

.intro h5,
.intro * h5 {
  font-size: 14px;
  line-height: 2.5;
  margin-top: 8px;
  font-weight: normal;
}

a {
  color: #111111;
  text-decoration: none;
}

b,
strong {
  color: #111111;
}

h3 {
  font-size: 21px;
  line-height: 1.33;
  color: #111111;
  font-weight: 500;
}

@media (min-width: 768px) {
  h3 {
    font-size: 22px;
  }
}

@media (min-width: 1450px) {
  h3 {
    font-size: 24px;
  }
}

@media (min-width: 550px) {
  h3 {
    line-height: 1.38;
  }
}

h3:first-child {
  margin-top: 0;
}

.large h3 {
  font-size: 21px;
  font-weight: 300;
  color: #969696;
  max-width: 999px;
}

.large h3 b {
  font-weight: 400;
}

@media (min-width: 768px) {
  .large h3 {
    font-size: 26px;
  }
}

@media (min-width: 1450px) {
  .large h3 {
    font-size: 30px;
  }
}

.sideTitle.large h5 {
  margin-top: 17px;
  margin-bottom: 10px;
}

p,
ul,
ol {
  font-size: 15px;
  line-height: 1.33;
  margin-bottom: 0.6em;
}

@media (min-width: 768px) {
  p,
  ul,
  ol {
    font-size: 16px;
    line-height: 1.56;
  }
}

.arrowLink .arrowWrap {
  opacity: 0.5;
  transition: all 0.3s ease;
  vertical-align: 3px;
}

.arrowLink i {
  transition: all 0.3s ease;
  padding-left: 10px;
}

.arrowLink:hover .arrowWrap {
  opacity: 1;
}

.arrowLink:hover i {
  padding-left: 20px;
}

.icon {
  font-size: 10px;
}

.icon:before {
  content: " ";
  vertical-align: middle;
  display: inline-block;
  background-image: url("/images/sprite.svg");
  background-repeat: no-repeat;
  background-size: 9em 32.4em;
}

.no-svg .icon:before {
  background-image: url("/images/sprite.png");
}

.icon.arrow-large:before {
  background-position: 0em 0em;
  width: 3.9em;
  height: 2.7em;
}

.icon.arrow-large-grey:before {
  background-position: 0em -2.7em;
  width: 3.9em;
  height: 2.7em;
}

.icon.arrow-small:before {
  background-position: 0em -5.4em;
  width: 2.6em;
  height: 2.1em;
}

.icon.arrow-small-grey:before {
  background-position: 0em -7.5em;
  width: 2.6em;
  height: 2.1em;
}

.icon.link:before {
  background-position: 0em -9.6em;
  width: 1.2em;
  height: 1.2em;
}

.icon.link_grey:before {
  background-position: 0em -10.8em;
  width: 1.2em;
  height: 1.2em;
}

.icon.logo:before {
  background-position: 0em -12em;
  width: 9em;
  height: 2.1585em;
}

.icon.logo_sidebar:before {
  background-position: 0em -14.2em;
  width: 1.4871em;
  height: 6.2em;
}

.icon.logo_sidebar_white:before {
  background-position: 0em -20.4em;
  width: 1.4871em;
  height: 6.2em;
}

.icon.logo_small:before {
  background-position: 0em -26.6em;
  width: 7.2em;
  height: 1.7269em;
}

.icon.logo_small_white:before {
  background-position: 0em -28.4em;
  width: 7.2em;
  height: 1.7269em;
}

.icon.logo_white:before {
  background-position: 0em -30.2em;
  width: 9em;
  height: 2.1585em;
}

body {
  opacity: 1;
  transition: opacity 0.3s ease;
}

body.loading {
  opacity: 0;
}

.contactGroup,
#slideNav,
header,
#fauxHeader,
.content,
.sideTitle,
.form {
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 30px auto 30px;
}

@media (min-width: 550px) {
  .contactGroup,
  #slideNav,
  header,
  #fauxHeader,
  .content,
  .sideTitle,
  .form {
    grid-template-columns: 67px auto 67px;
  }
}

@media (min-width: 1050px) {
  .contactGroup,
  #slideNav,
  header,
  #fauxHeader,
  .content,
  .sideTitle,
  .form {
    grid-template-columns: 110px auto 110px;
  }
}

@media (min-width: 1450px) {
  .contactGroup,
  #slideNav,
  header,
  #fauxHeader,
  .content,
  .sideTitle,
  .form {
    grid-template-columns: 110px minmax(128px, 200px) 5fr 2.4fr 2fr 110px;
  }
}

@media (min-width: 1725px) {
  .contactGroup,
  #slideNav,
  header,
  #fauxHeader,
  .content,
  .sideTitle,
  .form {
    grid-template-columns: 120px minmax(128px, 210px) 5fr 2.4fr 2fr 120px;
  }
}

main {
  position: relative;
}

.sidebar,
.fauxSidebar {
  position: fixed;
  left: 0;
  width: 47px;
  border-right: 1px solid grey;
  top: 0;
  z-index: 500;
  height: 100%;
  border-right: 1px solid rgba(160, 160, 160, 0.2);
  transition: opacity 0.2s ease;
  display: none;
}

.sidebar .sideLogo span,
.fauxSidebar .sideLogo span {
  display: none;
}

.sidebar.state0,
.fauxSidebar.state0 {
  opacity: 0;
  pointer-events: none;
}

.sidebar.state2 .logo_sidebar,
.fauxSidebar.state2 .logo_sidebar {
  opacity: 0;
}

.sidebar.state2 .logo_sidebar_white,
.fauxSidebar.state2 .logo_sidebar_white {
  opacity: 1;
}

.sidebar.state3,
.fauxSidebar.state3 {
  background: white;
}

.sidebar .icon:before,
.fauxSidebar .icon:before {
  margin-top: 15px;
  margin-left: 15px;
}

.sidebar .logo_sidebar,
.sidebar .logo_sidebar_white,
.fauxSidebar .logo_sidebar,
.fauxSidebar .logo_sidebar_white {
  position: absolute;
  transition: opacity 0.2s ease;
}

.sidebar .logo_sidebar_white,
.fauxSidebar .logo_sidebar_white {
  opacity: 0;
}

@media (min-width: 1050px) {
  .sidebar,
  .fauxSidebar {
    display: block;
  }
}

.sidebar .sideBurger,
.sidebar .sideClose,
.fauxSidebar .sideBurger,
.fauxSidebar .sideClose {
  position: absolute;
  top: 50%;
  left: 10px;
  padding: 10px 0px 6px 8px;
  margin-top: -11px;
  width: 20px;
}

.sidebar .sideBurger span,
.sidebar .sideClose span,
.fauxSidebar .sideBurger span,
.fauxSidebar .sideClose span {
  width: 1px;
  height: 16px;
  background: rgba(255, 255, 255, 0.3);
  margin-right: 4px;
  display: inline-block;
}

.sidebar .sideBurger span:last-child,
.sidebar .sideClose span:last-child,
.fauxSidebar .sideBurger span:last-child,
.fauxSidebar .sideClose span:last-child {
  margin-right: 0;
}

.sidebar .sideClose,
.fauxSidebar .sideClose {
  opacity: 0;
}

.sidebar.burger0 .sideBurger span,
.sidebar.burger1 .sideBurger span,
.sidebar.burger3 .sideBurger span,
.fauxSidebar.burger0 .sideBurger span,
.fauxSidebar.burger1 .sideBurger span,
.fauxSidebar.burger3 .sideBurger span {
  background: rgba(17, 17, 17, 0.2);
}

.sidebar.burger2 .sideBurger span,
.fauxSidebar.burger2 .sideBurger span {
  background: rgba(255, 255, 255, 0.3);
}

.logoSidebarTrigger {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  position: absolute;
}

.navOpening .sidebar .logoImg,
.navOpening .sidebar .sideBurger {
  opacity: 0;
}

.navOpening .sidebar .sideClose {
  opacity: 1;
  transition: opacity 0.3s ease;
  transition-delay: 1s;
  padding: 10px 14px 29px;
  left: 0;
}

.navOpening .sidebar .sideClose span {
  background: rgba(255, 255, 255, 0.3);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  height: 20px;
  position: absolute;
  left: 23px;
  background: #6D6D6D;
}

.navOpening .sidebar .sideClose span:last-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media (min-width: 1050px) {
  .navOpening .sidebar.state0,
  .navOpening .fauxSidebar.state0 {
    opacity: 1;
    pointer-events: auto;
  }
}

.navClosing .sideLogo,
.navClosing .sideBurger {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.sideTitle {
  /*.text {
    grid-column: 2/3;
    margin-bottom: 39px;
    @include breakpoint(desktop-up) {
      grid-column: 3/5;
    }
  }*/
}

.sideTitle h5 {
  font-size: 14px;
  margin-top: 17px;
  padding-right: 20px;
  grid-column: 2/3;
  margin-bottom: 10px;
}

@media (min-width: 1450px) {
  .sideTitle h5 {
    margin-bottom: 0;
  }
}

.sideTitle h4 {
  font-size: 21px;
  line-height: 1.33;
  font-weight: 500;
}

.sideTitle.listContainer h5 {
  margin-top: 0;
}

.sideTitle.large h3 .arrowLink i {
  vertical-align: 7px;
}

.content__columns {
  grid-column: 2/3;
  max-width: 999px;
  display: grid;
  grid-gap: 30px;
}

@media (min-width: 768px) {
  .content__columns {
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px 48px;
  }
}

@media (min-width: 1450px) {
  .content__columns {
    grid-column: 3/5;
    grid-gap: 30px 98px;
  }
}

.content__column {
  grid-column: span 1;
}

@media (min-width: 1450px) {
  .content__column {
    margin: 0;
  }
}

.content__column h3 {
  color: #111111;
  letter-spacing: 0.3px;
  font-weight: 500;
  margin-bottom: 10px;
  font-size: 21px;
  line-height: 1.33;
  margin-bottom: 9px;
}

@media (min-width: 768px) {
  .content__column h3 {
    font-size: 22px;
  }
}

@media (min-width: 1450px) {
  .content__column h3 {
    font-size: 24px;
  }
}

.content__column p {
  font-size: 15px;
  line-height: 1.44;
  margin-bottom: 0.8em;
}

@media (min-width: 768px) {
  .content__column p {
    font-size: 16px;
  }
}

@media (min-width: 1450px) {
  .content__column p {
    font-size: 18px;
  }
}

.content {
  margin-top: 50px;
  box-sizing: border-box;
}

@media (min-width: 550px) {
  .content {
    margin-top: 132px;
  }
}

.content:first-child {
  margin-top: 0;
}

.content__sideTitle {
  font-size: 12px;
  margin-bottom: 5px;
}

@media (min-width: 550px) {
  .content__sideTitle {
    font-size: 16px;
    grid-column: 2/3;
    margin-top: 14px;
    padding-right: 20px;
  }
}

.content.listContainer .content__sideTitle {
  margin-bottom: 40px;
}

.content__intro {
  margin-bottom: 62px;
  grid-column: 2/3;
}

@media (min-width: 1450px) {
  .content__intro {
    grid-column: 3/5;
  }
}

.content__intro p {
  font-weight: 400;
  line-height: 1.36;
  font-size: 22px;
}

.content__text {
  max-width: 999px;
  grid-column: 2/3;
}

.content__text h3 {
  margin-bottom: 0.5em;
  margin-top: 43px;
}

.content__text h3:first-child {
  margin-top: 0;
}

@media (min-width: 1450px) {
  .content__text {
    grid-column: 3/5;
  }
}

.content__childList {
  grid-column: 2/4;
}

@media (min-width: 550px) {
  .content__childList {
    margin-right: 0;
  }
}

@media (min-width: 1450px) {
  .content__childList {
    grid-column: 3/end;
  }
}

.content__childList a {
  font-family: "Neue Helvetica W01", Helvetica, Arial, sans-serif;
  line-height: 1.47;
  background-color: #EAF7F5;
  text-decoration: none;
  color: #111111;
  border-bottom: 2px solid white;
  display: block;
  transition: all 0.3s ease;
  padding: 30px 30px 34px 40px;
}

@media (min-width: 768px) {
  .content__childList a {
    padding-bottom: 40px;
  }
}

@media (min-width: 1050px) {
  .content__childList a {
    display: grid;
    grid-template-columns: 320px auto;
    grid-gap: 30px;
    padding: 32px 48px 47px;
  }
}

.content__childList a .title {
  padding-left: 0;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 500;
  font-size: 19px;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .content__childList a .title {
    font-size: 20px;
    margin-bottom: 8px;
  }
}

@media (min-width: 1450px) {
  .content__childList a .title {
    font-size: 21px;
    margin-bottom: 0px;
  }
}

.content__childList a .snippet {
  font-size: 16px;
  display: block;
  color: #a2a2a2;
  max-width: 740px;
  font-weight: 400;
}

@media (min-width: 768px) {
  .content__childList a .snippet {
    font-size: 17px;
  }
}

@media (min-width: 1450px) {
  .content__childList a .snippet {
    font-size: 19px;
  }
}

table {
  font-family: "Neue Helvetica W01", Helvetica, Arial, sans-serif;
  border-top: 1px solid #969696;
  border-left: 1px solid #969696;
  color: #969696;
}

table th {
  background: #EAF7F5;
}

table td,
table th {
  border-bottom: 1px solid #969696;
  border-right: 1px solid #969696;
  padding: 5px;
}

.pageGridWrap .content__text {
  max-width: 100%;
}

.pageGrid {
  display: grid;
  margin-top: 24px;
  grid-gap: 30px;
  max-width: 1186px;
}

@media (min-width: 768px) {
  .pageGrid {
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
  }
}

.pageGrid__item {
  display: flex;
  flex-direction: column;
  vertical-align: top;
}

.pageGrid__item h3 {
  background-color: #080f1e;
  color: white;
  height: 0;
  background-size: cover;
  background-position: center;
  font-size: 21px;
  line-height: 1.64;
  letter-spacing: 0.3px;
  box-sizing: border-box;
  margin: 0;
  font-weight: 300;
  padding: 18px 30px 210px;
  display: flex;
  flex-direction: column;
  position: relative;
}

@media (min-width: 550px) {
  .pageGrid__item h3 {
    padding-bottom: 260px;
  }
}

@media (min-width: 768px) {
  .pageGrid__item h3 {
    padding-bottom: 210px;
  }
}

@media (min-width: 1050px) {
  .pageGrid__item h3 {
    padding-bottom: 260px;
  }
}

@media (min-width: 1450px) {
  .pageGrid__item h3 {
    padding: 28px 48px 55.5%;
    font-size: 25px;
  }
}

.pageGrid__item h3 .icon {
  margin-top: 5px;
  opacity: 0;
  transition: all 0.3s ease;
}

.pageGrid__item h3 span,
.pageGrid__item h3 .icon {
  position: relative;
  z-index: 2;
}

.pageGrid__item h3::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  top: 0;
  left: 0;
  transition: background 0.3s ease;
  z-index: 1;
}

.pageGrid__item:hover h3::after {
  background: rgba(0, 0, 0, 0.3);
}

.pageGrid__item:hover .icon {
  opacity: 1;
  margin-left: 20px;
}

.pageGrid__text {
  padding: 20px 30px 35px;
  background-color: #EAF7F5;
  margin: 0;
  flex-grow: 1;
}

@media (min-width: 1450px) {
  .pageGrid__text {
    padding: 32px 48px 48px;
  }
}

.pageGrid__text span {
  color: #111111;
  display: block;
  margin-top: 10px;
}

.pageGrid .oxfordVideo__wrap {
  max-height: 61%;
}

.arrowHover {
  background: #EAF7F5;
  transition: all 0.3s ease;
}

.arrowHover .icon {
  opacity: 0;
  transition: all 0.3s ease;
  display: none;
}

@media (min-width: 768px) {
  .arrowHover .icon {
    display: block;
  }
}

.arrowHover:hover {
  background: #deeeec;
}

.arrowHover:hover .icon {
  opacity: 1;
  padding-left: 20px;
}

header,
#fauxHeader {
  position: relative;
  z-index: 10;
  padding: 30px 0 50px;
  background: white;
}

@media (min-width: 550px) {
  header,
  #fauxHeader {
    padding: 55px 0 50px;
  }
}

@media (min-width: 768px) {
  header,
  #fauxHeader {
    padding: 55px 0 65px;
  }
}

@media (min-width: 1050px) {
  header,
  #fauxHeader {
    padding: 70px 0 80px;
  }
}

@media (min-width: 1450px) {
  header,
  #fauxHeader {
    padding: 110px 0 116px;
  }
}

@media (min-width: 1725px) {
  header,
  #fauxHeader {
    padding: 130px 0 136px;
  }
}

header a.logo span,
header .logoWrap a span,
#fauxHeader a.logo span,
#fauxHeader .logoWrap a span {
  display: none;
}

header .logoWrap,
#fauxHeader .logoWrap {
  position: relative;
  grid-column: 2/3;
  grid-row: 1;
}

header .logoWrap a,
#fauxHeader .logoWrap a {
  display: inline-block;
}

@media (min-width: 1050px) {
  header .logoWrap,
  #fauxHeader .logoWrap {
    margin-top: 9px;
  }
}

header .logoWrap .logo_small,
#fauxHeader .logoWrap .logo_small {
  display: block;
}

@media (min-width: 550px) {
  header .logoWrap .logo_small,
  #fauxHeader .logoWrap .logo_small {
    display: none;
  }
}

header .logoWrap .logo,
#fauxHeader .logoWrap .logo {
  display: none;
}

@media (min-width: 550px) {
  header .logoWrap .logo,
  #fauxHeader .logoWrap .logo {
    display: block;
  }
}

header .logoWrap .logoImg,
#fauxHeader .logoWrap .logoImg {
  width: 90px;
}

header .logoWrap .logo_white,
#fauxHeader .logoWrap .logo_white {
  opacity: 1;
}

header .intro,
#fauxHeader .intro {
  grid-column: 2/3;
  grid-row: 3/4;
  max-width: 999px;
}

@media (min-width: 1450px) {
  header .intro,
  #fauxHeader .intro {
    margin-top: 7px;
    grid-column: 3/5;
  }
}

header .pageTitle,
#fauxHeader .pageTitle {
  grid-column: 2/3;
  grid-row: 2;
}

@media (min-width: 768px) {
  header .pageTitle,
  #fauxHeader .pageTitle {
    margin-top: 50px;
  }
}

@media (min-width: 1050px) {
  header .pageTitle,
  #fauxHeader .pageTitle {
    margin-top: 55px;
  }
}

@media (min-width: 1450px) {
  header .pageTitle,
  #fauxHeader .pageTitle {
    margin-top: 0;
    grid-column: 3/4;
    grid-row: 1;
  }
}

header .pageTitle h5,
#fauxHeader .pageTitle h5 {
  font-size: 14px;
  margin: 14px 0 5px;
}

header .pageTitle h1,
#fauxHeader .pageTitle h1 {
  font-size: 24px;
  margin: 45px 0 9px;
  font-weight: 300;
}

@media (min-width: 768px) {
  header .pageTitle h1,
  #fauxHeader .pageTitle h1 {
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 11px;
  }
}

header nav,
#fauxHeader nav {
  text-align: right;
  font-size: 15px;
  margin-top: 14px;
  display: none;
  grid-row: 1;
}

@media (min-width: 1050px) {
  header nav,
  #fauxHeader nav {
    display: block;
    grid-column: 2/3;
    margin-top: 13px;
  }
}

@media (min-width: 1450px) {
  header nav,
  #fauxHeader nav {
    display: block;
    grid-column: 3/6;
  }
}

header nav li,
#fauxHeader nav li {
  margin: 0 6px;
  display: inline-block;
  position: relative;
  font-size: 15px;
}

header nav li:last-child,
#fauxHeader nav li:last-child {
  margin-right: 0;
}

header nav a,
#fauxHeader nav a {
  color: #969696;
  text-decoration: none;
  transition: color 0.3s ease;
}

header nav a:hover,
#fauxHeader nav a:hover {
  color: #111111;
}

header .menuContact,
#fauxHeader .menuContact {
  position: absolute;
  right: 0;
  padding-top: 30px;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

header .menuContact p,
header .menuContact a,
#fauxHeader .menuContact p,
#fauxHeader .menuContact a {
  font-size: 30px;
  font-weight: 300;
  color: #969696;
}

@media (min-width: 1725px) {
  header li:hover .menuContact,
  #fauxHeader li:hover .menuContact {
    opacity: 1;
    pointer-events: auto;
  }
}

/**
Mobile Menu
 */

.burger {
  position: absolute;
  z-index: 1000;
}

#slideNav {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  background: #111111;
  padding: 30px 0 66px;
  box-sizing: border-box;
  z-index: 500;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  overflow: hidden;
}

#slideNav div {
  grid-column: 2/3;
}

@media (min-width: 550px) {
  #slideNav {
    padding: 55px 0;
  }
}

#slideNav .logo {
  opacity: 0.3;
}

#slideNav .logo span {
  display: none;
}

#slideNav .logo .logo_white {
  display: none;
  opacity: 0.3;
}

@media (min-width: 550px) {
  #slideNav .logo .logo_white {
    display: block;
  }

  #slideNav .logo .logo_small_white {
    display: none;
  }
}

#slideNav nav {
  margin-top: 45px;
  grid-column: 2/3;
}

#slideNav nav li {
  font-size: 29px;
  line-height: 40px;
  font-weight: 300;
}

#slideNav nav li a {
  color: white;
  border-bottom: 1px solid transparent;
  transition: border-color 0.3s ease;
}

#slideNav nav li a:hover {
  border-color: white;
}

#slideNav .contactDetails {
  font-size: 20px;
  line-height: 28px;
  font-weight: 300;
  margin: 23px 0 30px;
  color: #6D6D6D;
}

#slideNav .contactDetails a {
  color: #6D6D6D;
  border-bottom: 1px solid #6D6D6D;
  transition: all 0.3s ease;
}

#slideNav .contactDetails a:hover {
  color: white;
  border-color: white;
}

#slideNav .socialLinks {
  font-size: 12px;
  line-height: 1.83;
  margin-top: 27px;
}

#slideNav .socialLinks a {
  color: #6D6D6D;
  text-decoration: underline;
  transition: all 0.3s ease;
}

#slideNav .socialLinks a:hover {
  color: white;
}

#slideNav address {
  color: #6D6D6D;
  font-size: 12px;
  line-height: 17px;
}

#slideNav .burger {
  opacity: 0;
}

.loading #slideNav {
  transition: none;
}

.navOpening #slideNav {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.navOpening #slideNav .burger {
  width: 16px;
  height: 12px;
  transition: opacity 0.1s ease;
  top: 30px;
  right: 20px;
}

@media (min-width: 550px) {
  .navOpening #slideNav .burger {
    top: 52px;
    right: 56px;
  }
}

.navOpen {
  overflow: hidden;
}

.navOpen #slideNav {
  overflow-y: scroll;
  overflow-x: hidden;
}

.navOpen #slideNav .burger {
  opacity: 1;
}

.navOpen #slideNav .burger span {
  margin: 0;
  top: 15px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: absolute;
}

.navOpen #slideNav .burger span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.navOpen #slideNav .burger span:last-child {
  display: none;
}

@media (min-width: 1050px) {
  .burger {
    display: none;
  }
}

.burger {
  padding: 10px;
  top: 30px;
  right: 20px;
}

@media (min-width: 550px) {
  .burger {
    top: 51px;
    right: 57px;
  }
}

@media (min-width: 1450px) {
  .burger {
    top: 83px;
    right: 50px;
  }
}

.burger span {
  display: block;
  background: #969696;
  width: 16px;
  height: 1px;
  /*@include breakpoint(mobile-up) {
      width: 22px;
      height: 2px;
      opacity: 0.8;
      &:nth-child(2) {
        margin: 5px 0;
      }
    }*/
}

.burger span:nth-child(2) {
  margin: 4px 0;
}

footer {
  display: grid;
  position: relative;
  grid-template-columns: 30px auto 30px;
  padding: 30px 0 35px;
  margin-top: 50px;
  border-top: 1px solid rgba(212, 212, 212, 0.3);
}

@media (min-width: 550px) {
  footer {
    grid-template-columns: 67px auto 67px;
  }
}

@media (min-width: 768px) {
  footer {
    margin-top: 100px;
    grid-template-rows: 38px auto;
    padding: 40px 0 55px;
    grid-template-columns: 67px 4fr 3fr 2fr auto 67px;
  }
}

@media (min-width: 1050px) {
  footer {
    margin-top: 120px;
    grid-template-rows: 40px auto;
    grid-template-columns: 110px 1fr 1fr 1fr auto 110px;
  }
}

@media (min-width: 1450px) {
  footer {
    margin-top: 170px;
    padding: 55px 0 80px;
    grid-template-columns: 110px minmax(128px, 200px) 2fr 2fr 3fr auto 110px;
  }
}

@media (min-width: 1725px) {
  footer {
    grid-template-columns: 120px minmax(128px, 210px) 2fr 2fr 3fr auto 120px;
  }
}

footer .logo {
  grid-column: 2/3;
  grid-row: 1/3;
  margin-top: 7px;
}

footer .logo span {
  display: none;
}

footer p,
footer ul {
  font-size: 12px;
  line-height: 1.53;
  margin-bottom: 22px;
  margin-bottom: 0;
}

@media (min-width: 1450px) {
  footer p,
  footer ul {
    font-size: 14px;
    line-height: 1.83;
  }
}

footer .emailPhone {
  margin-bottom: 20px;
  grid-column: 2/3;
}

@media (min-width: 550px) {
  footer .emailPhone {
    display: inline-block;
    vertical-align: top;
  }
}

@media (min-width: 768px) {
  footer .emailPhone {
    grid-column: 2/3;
    grid-row: 2/3;
    margin-bottom: 0;
    padding-right: 30px;
  }
}

@media (min-width: 1450px) {
  footer .emailPhone {
    display: inline-block;
    vertical-align: top;
    grid-column: 3/4;
    grid-row: 1;
    margin-top: 0;
  }
}

footer .emailPhone p {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 300;
  margin-top: 8px;
  white-space: nowrap;
}

@media (min-width: 768px) {
  footer .emailPhone p {
    font-size: 20px;
    line-height: 1.4;
    margin-top: 0;
  }
}

@media (min-width: 1450px) {
  footer .emailPhone p {
    font-size: 26px;
  }
}

footer .emailPhone p a {
  text-decoration: none;
}

footer address {
  padding-right: 30px;
  grid-column: 2/3;
  white-space: nowrap;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  footer address {
    grid-column: 3/4;
    grid-row: 1/3;
    margin-bottom: 0;
  }
}

@media (min-width: 1450px) {
  footer address {
    grid-column: 4/5;
  }
}

footer .social {
  grid-column: 2/3;
  padding-right: 30px;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  footer .social {
    grid-row: 1/3;
    grid-column: 4/5;
  }
}

@media (min-width: 1450px) {
  footer .social {
    grid-column: 5/6;
  }
}

footer nav {
  grid-column: 2/3;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  footer nav {
    text-align: right;
    grid-row: 1/2;
    grid-column: 5/6;
  }
}

@media (min-width: 1450px) {
  footer nav {
    grid-column: 6/7;
  }
}

footer .copyright {
  grid-column: 2/3;
  margin-top: auto;
}

@media (min-width: 768px) {
  footer .copyright {
    text-align: right;
    grid-column: 5/6;
    grid-row: 2/3;
  }
}

@media (min-width: 1450px) {
  footer .copyright {
    grid-column: 6/7;
  }
}

footer a {
  color: #969696;
  text-decoration: underline;
  transition: color 0.3s ease;
}

footer a:hover {
  color: #111111;
}

#contact .sidebar {
  width: 0px;
}

#contact .sidebar:after {
  content: "";
  display: block;
  height: 100%;
  border-right: 1px solid rgba(212, 212, 212, 0.3);
  position: fixed;
  left: 47px;
  top: 0;
  pointer-events: none;
}

#contact header {
  padding-bottom: 52px;
}

#contact footer {
  margin-top: 0;
}

@media (min-width: 768px) {
  #contact .form__field {
    max-width: 450px;
  }
}

@media (min-width: 1050px) {
  #contact .form__field {
    max-width: 670px;
  }
}

#contact .form__field label {
  display: block;
  font-size: 14px;
  line-height: 2em;
}

#contact .form__field input,
#contact .form__field textarea {
  border: 1px solid #d4d4d4;
  transition: border-color 0.3s ease;
}

#contact .form__field input:hover,
#contact .form__field textarea:hover {
  border-color: #a7a7a7;
}

#contact .form__submit {
  max-width: 670px;
}

#contact .form .submit {
  white-space: nowrap;
  padding: 0;
  margin: 10px 0;
}

@media (min-width: 768px) {
  #contact .form .submit {
    margin: 0 0 0 30px;
    position: absolute;
    bottom: 0;
    float: none;
  }
}

@media (min-width: 1450px) {
  #contact .form .submit .icon {
    top: auto;
  }
}

.contactDetails {
  margin: 42px 0 50px;
}

@media (min-width: 1050px) {
  .contactDetails {
    margin: 92px 0 80px;
  }
}

.surname {
  display: none;
}

.contactGroup {
  margin-bottom: 16px;
}

@media (min-width: 1050px) {
  .contactGroup {
    margin-bottom: 36px;
  }
}

.contactGroup h4 {
  font-size: 14px;
  grid-column: 2/3;
  margin-top: 15px;
}

.contactGroup p,
.contactGroup address {
  font-size: 24px;
  line-height: 34px;
  color: #111111;
  font-weight: 300;
  grid-column: 2/3;
  margin-bottom: 0;
}

@media (min-width: 1450px) {
  .contactGroup p,
  .contactGroup address {
    grid-column: 3/4;
  }
}

.contactGroup ul {
  grid-column: 2/3;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  margin-top: 8px;
}

@media (min-width: 1450px) {
  .contactGroup ul {
    grid-column: 3/4;
  }
}

.contactGroup ul a {
  color: #969696;
  text-decoration: underline;
  transition: color 0.3s ease;
}

.contactGroup ul a:hover {
  color: #111111;
}

.thanks {
  height: 750px;
  display: flex;
  align-items: center;
  max-height: 50vh;
  opacity: 1;
}

.thanks .content__intro {
  margin-bottom: 80px;
}

.thanks p {
  font-weight: 300;
  font-size: 22px;
}

@media (min-width: 768px) {
  .thanks p {
    font-size: 27px;
  }
}

@media (min-width: 1450px) {
  .thanks p {
    font-size: 30px;
  }
}

@media (max-width: 350px) {
  .thanks br {
    display: none;
  }
}

.form-submitted .intro p,
.form-submitted .form,
.form-submitted .contactDetails,
.form-submitted iframe {
  display: none;
}

.map {
  margin-bottom: -4px;
  height: 400px;
}

@media (min-width: 550px) {
  .map {
    height: 550px;
  }
}

@media (min-width: 1450px) {
  .map {
    height: 699px;
  }
}

