.icon {
    font-size: 10px;
}

.icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("/images/sprite.svg");
    background-repeat: no-repeat;
    background-size: 9em 32.4em;
}

.no-svg .icon:before {
    background-image: url("/images/sprite.png");
}



  .icon.arrow-large:before {
      background-position: 0em 0em;
      width: 3.9em;
      height: 2.7em;
  }




  .icon.arrow-large-grey:before {
      background-position: 0em -2.7em;
      width: 3.9em;
      height: 2.7em;
  }




  .icon.arrow-small:before {
      background-position: 0em -5.4em;
      width: 2.6em;
      height: 2.1em;
  }




  .icon.arrow-small-grey:before {
      background-position: 0em -7.5em;
      width: 2.6em;
      height: 2.1em;
  }




  .icon.link:before {
      background-position: 0em -9.6em;
      width: 1.2em;
      height: 1.2em;
  }




  .icon.link_grey:before {
      background-position: 0em -10.8em;
      width: 1.2em;
      height: 1.2em;
  }




  .icon.logo:before {
      background-position: 0em -12em;
      width: 9em;
      height: 2.1585em;
  }




  .icon.logo_sidebar:before {
      background-position: 0em -14.2em;
      width: 1.4871em;
      height: 6.2em;
  }




  .icon.logo_sidebar_white:before {
      background-position: 0em -20.4em;
      width: 1.4871em;
      height: 6.2em;
  }




  .icon.logo_small:before {
      background-position: 0em -26.6em;
      width: 7.2em;
      height: 1.7268999999999999em;
  }




  .icon.logo_small_white:before {
      background-position: 0em -28.4em;
      width: 7.2em;
      height: 1.7268999999999999em;
  }




  .icon.logo_white:before {
      background-position: 0em -30.2em;
      width: 9em;
      height: 2.1585em;
  }





