body {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p, ul, ol, input, button, address, h1, h2, h3, h4, h5, h6, aside {
  font-family: $sans-serif;
  font-weight: 400;
  color: $text;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

.intro, .intro * {
  font-weight: $lt;
  line-height: 1.367em;
  letter-spacing: 0.4px;
  p {
    font-size: 22px;
    @include breakpoint(portraittablet-up) {
      font-size: 27px;
    }
    @include breakpoint(desktop-up) {
      font-size: 30px;
    }
  }
  h1 {
    font-size: 24px;
    margin-bottom: 11px;
    @include breakpoint(xxs-only) {
      font-size: 21px;
    }
    @include breakpoint(mobile-up) {
      margin-top: 4px;
    }
    @include breakpoint(portraittablet-up) {
      font-size: 32px;
    }
    @include breakpoint(tablet-up) {
      margin-top: 0;
    }
  }
  h5 {
    font-size: 14px;
    line-height: 2.5;
    margin-top: 8px;
    font-weight: normal;
  }
}

a {
  color: $highlight;
  text-decoration: none;
}

b, strong {
  color: $highlight;
}
h3 {
  font-size: 21px;
  line-height: 1.33;
  color: $highlight;
  font-weight: 500;
  @include breakpoint(portraittablet-up) {
    font-size: 22px;
  }
  @include breakpoint(desktop-up) {
    font-size: 24px;
  }
  @include breakpoint(mobile-up) {
    line-height: 1.38;
  }
  &:first-child {
    margin-top: 0;
  }
}
.large h3 {
  font-size: 21px;
  font-weight: $lt;
  color: $text;
  max-width: 999px;
  b {
    font-weight: 400;
  }
  @include breakpoint(portraittablet-up) {
    font-size: 26px;
  }
  @include breakpoint(desktop-up) {
    font-size: 30px;
  }
}
.sideTitle.large h5 {
  margin-top: 17px;
  margin-bottom: 10px;
}
p, ul, ol {
  font-size: 15px;
  line-height: 1.33;
  margin-bottom: 0.6em;
  @include breakpoint(portraittablet-up) {
    font-size: 16px;
    line-height: 1.56;

  }
}

.arrowLink {
  .arrowWrap {
    opacity: 0.5;
    transition: all $ease;
    vertical-align: 3px;
  }
  i {
    transition: all $ease;
    padding-left: 10px;
  }
  &:hover {
    .arrowWrap {
      opacity: 1;
    }
    i {
      padding-left: 20px;
    }
  }
}