@mixin invisible {
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: opacity .5s ease;
}
@mixin visible {
  height: auto;
  overflow: auto;
  opacity: 1;
}

$breakpoints: (
        "xxs-only":   (max-width, 350px),
        "mobile-only":   (max-width, 549px),
        "mobile-up":   (min-width, 550px),
        "portraittablet-only":   (max-width, 767px),
        "portraittablet-up":   (min-width, 768px),
        "tablet-only":   (max-width, 1049px),
        "tablet-up":   (min-width, 1050px),
        "desktop-up":   (min-width, 1450px),
        "largedesktop-up":   (min-width, 1725px)
) !default;

@mixin breakpoint($breakpoint) {
  $query: map-get($breakpoints, $breakpoint);

  @if $query != null {
    @media (#{nth($query, 1)}: #{nth($query, 2)}) {
      @content;
    }
  } @else {
    @warn "Unfortunately, no value could be retrieved from #{$breakpoint}. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}

body::after {
  content: '#{inspect($breakpoints)}';
  display: none;
}

