footer {
  display: grid;
  position: relative;
  grid-template-columns: 30px auto 30px;
  padding: 30px 0 35px;
  margin-top: 50px;
  border-top: 1px solid $border;
  @include breakpoint(mobile-up) {
    grid-template-columns: 67px auto 67px;
  }
  @include breakpoint(portraittablet-up) { 
    margin-top: 100px; 
    grid-template-rows: 38px auto;
    padding: 40px 0 55px;
    grid-template-columns: 67px 4fr 3fr 2fr auto 67px;
  }
  @include breakpoint(tablet-up) {
    margin-top: 120px; 
    grid-template-rows: 40px auto;
    grid-template-columns: 110px 1fr 1fr 1fr auto 110px;
  }
  @include breakpoint(desktop-up) {
    margin-top: 170px; 
    padding: 55px 0 80px;
    grid-template-columns: 110px minmax(128px, 200px) 2fr 2fr 3fr auto 110px;
  }
  @include breakpoint(largedesktop-up) {
    grid-template-columns: 120px minmax(128px, 210px) 2fr 2fr 3fr auto 120px;
  }
  .logo {
    grid-column: 2/3;
    grid-row:1/3;
    margin-top: 7px;
    span {
      display: none;
    }
  }
  p, ul {
    font-size: 12px;
    line-height: 1.53;
    margin-bottom: 22px;
    margin-bottom: 0;
    @include breakpoint(desktop-up) {
      font-size: 14px;
      line-height: 1.83;
      
    }
  }
  .emailPhone {
    margin-bottom: 20px;
    grid-column:2/3;
    @include breakpoint(mobile-up) {
      display: inline-block;
      vertical-align: top;
    }
    @include breakpoint(portraittablet-up) {
      grid-column: 2/3;
      grid-row: 2/3;
      margin-bottom: 0;
      padding-right: 30px;
    }
    @include breakpoint(desktop-up) {
      display: inline-block;
      vertical-align: top;
      grid-column: 3/4;
      grid-row: 1;
      margin-top: 0;
    }
    p {
      font-size: 20px;
      line-height: 1.2;
      font-weight: $lt;
      margin-top: 8px;
      white-space: nowrap;
      @include breakpoint(portraittablet-up) {
        font-size: 20px;
        line-height: 1.4;
        margin-top: 0;
      }
      @include breakpoint(desktop-up) {
        font-size: 26px;
      }
      a {
        text-decoration: none;
      }
    }
  }

  address {
    padding-right: 30px;
    grid-column: 2/3;
    white-space: nowrap;
    margin-bottom: 20px;
    @include breakpoint(portraittablet-up) {
      grid-column:3/4;
      grid-row: 1/3;
      margin-bottom: 0;
    }
    @include breakpoint(desktop-up) {
      grid-column:4/5;
    }
  }

  .social {
    grid-column: 2/3;
    padding-right: 30px;
    margin-bottom: 20px;
    @include breakpoint(portraittablet-up) {
      grid-row:1/3;
      grid-column: 4/5;
    }
    @include breakpoint(desktop-up) {
      grid-column:5/6;
    }
  }
  nav {
    grid-column:2/3;
    margin-bottom: 20px;
    @include breakpoint(portraittablet-up) {
      text-align:right;
      grid-row:1/2;
      grid-column: 5/6;
    }
    @include breakpoint(desktop-up) {
      grid-column:6/7;
    }
  }
  .copyright {
    grid-column:2/3;
    margin-top: auto;
    @include breakpoint(portraittablet-up) {
      text-align:right;
      grid-column: 5/6;
      grid-row:2/3;
    }
    @include breakpoint(desktop-up) {
      grid-column:6/7;
    }
  }


  a {
    color: $text;
    text-decoration: underline;
    transition: color $ease;
    &:hover {
      color: $highlight;
    }
  }
}