header, #fauxHeader {
  @extend %grid;
  position: relative;
  z-index: 10;
  padding: 30px 0 50px;
  background: white;
  @include breakpoint(mobile-up) {
    padding: 55px 0 50px;
  }
  @include breakpoint(portraittablet-up) {
    padding: 55px 0 65px;
  }
  @include breakpoint(tablet-up) {
    padding: 70px 0 80px;
  }
  @include breakpoint(desktop-up) {
    padding: 110px 0 116px;
  }
  @include breakpoint(largedesktop-up) {
    padding: 130px 0 136px;
  }
  a.logo span, .logoWrap a span {
    display: none;
  }
  .logoWrap {
    position: relative;
    grid-column: 2/3;
    grid-row:1;
    a {
      display: inline-block;
    }
    @include breakpoint(tablet-up) {
      margin-top: 9px;
    }
    .logo_small {
      display: block;
      @include breakpoint(mobile-up) {
        display: none;
      }
    }
    .logo {
      display: none;
      @include breakpoint(mobile-up) {
        display: block;
      }
    }
    .logoImg {
      width: 90px;
    }
    .logo_white {
      opacity: 1;
    }
  }
  .intro {
    grid-column: 2/3;
    grid-row: 3/4;
    max-width: 999px;
    @include breakpoint(desktop-up) {
      margin-top: 7px;
      grid-column: 3/5;
    }
  }
  .pageTitle {
    grid-column:2/3;
    grid-row: 2;
    @include breakpoint(portraittablet-up) {
      margin-top: 50px;
    }
    @include breakpoint(tablet-up) {
      margin-top: 55px;
    }
    @include breakpoint(desktop-up) {
      margin-top: 0;
      grid-column:3/4;
      grid-row: 1;
    }
    h5 {
      font-size: 14px;
      margin: 14px 0 5px;
    }
    h1 {
      font-size: 24px;
      margin: 45px 0 9px;
      font-weight: $lt;
      @include breakpoint(portraittablet-up) {
        font-size: 32px;
        margin-top: 0;
        margin-bottom: 11px;
      }
    }
  }

  nav {
    text-align: right;
    font-size: 15px;
    margin-top: 14px;
    display: none;
    grid-row: 1;
    @include breakpoint(tablet-up) {
      display: block;
      grid-column: 2/3;
      margin-top: 13px;
    }
    @include breakpoint(desktop-up) {
      display: block;
      grid-column: 3/6;
    }
    li {
      margin: 0 6px;
      display: inline-block;
      position: relative;
      font-size: 15px;
      &:last-child {
        margin-right: 0;
      }
    }
    a {
      color: $text;
      text-decoration: none;
      transition: color $ease;
      &:hover {
        color: $highlight;
      }
    }
  }
  .menuContact {
    position: absolute;
    right: 0;
    padding-top: 30px;
    opacity: 0;
    transition: opacity $ease;
    pointer-events: none;
    p, a {
      font-size: 30px;
      font-weight: $lt;
      color: $text;
    }
  }
  @include breakpoint(largedesktop-up) {
    li:hover .menuContact {
      opacity: 1;
      pointer-events: auto;
    }
  }
}

/**
Mobile Menu
 */
.burger {
  position: absolute;
  z-index: 1000;
}
#slideNav {
  @extend %grid;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  transition: transform 1s;
  background: $highlight;
  padding: 30px 0 66px;
  box-sizing: border-box;
  z-index: 500;
  transform: translateX(-100%);
  overflow: hidden;
  div {
    grid-column:2/3;
  }
  @include breakpoint(mobile-up) {
    padding: 55px 0;
  }
  .logo {
    opacity: 0.3;
    span {
      display: none;
    }
    .logo_white {
      display: none;
        opacity: 0.3;
    }
    @include breakpoint(mobile-up) {
      .logo_white {
        display: block;
      }
      .logo_small_white {
        display: none;
      }
    }
  }
  nav {
    margin-top: 45px;
    grid-column: 2/3;
    li {
    font-size: 29px;
    line-height: 40px;
    font-weight: $lt;
      a {
        color: white;
        border-bottom: 1px solid transparent;
        transition: border-color $ease;
        &:hover {
          border-color: white;
        }
      }
    }
  }
  .contactDetails {
    font-size: 20px;
    line-height: 28px;
    font-weight: $lt;
    margin: 23px 0 30px;
    color: $mobile-menu-text;
    a {
      color: $mobile-menu-text;
      border-bottom: 1px solid $mobile-menu-text;
      transition: all $ease;
      &:hover {
        color: white;
        border-color: white;
      }
    }
  }
  .socialLinks {
    font-size: 12px;
    line-height: 1.83;
    margin-top: 27px;
    a {
      color: $mobile-menu-text;
      text-decoration: underline;
      transition: all $ease;
      &:hover {
        color: white;
      }
    }
  }
  address {
    color: $mobile-menu-text;
    font-size: 12px;
    line-height: 17px;
  }
  .burger {
    opacity: 0;
  }
}
.loading #slideNav {
  transition: none;
}
.navOpening {
  #slideNav {
    transform: translateX(0);
    .burger {
      width: 16px;
      height:12px;
      transition: opacity .1s ease;
      top: 30px;
      right: 20px;
      @include breakpoint(mobile-up) {
        top: 52px;
        right: 56px;
      }
    }
  }
}
.navOpen {
  overflow: hidden;
  #slideNav {
    overflow-y: scroll;
    overflow-x: hidden;
    .burger {
      opacity: 1;
      span {
        margin:0;
        top: 15px;
        transform: rotate(-45deg);
        position: absolute;
        &:first-child {
          transform: rotate(45deg);
        }
        &:last-child {
          display: none;
        }
      }
    }
  }
}
@include breakpoint(tablet-up) {
  .burger {
    display:none;
  }
}
.burger {
  padding: 10px;
  top: 30px;
  right: 20px;
  @include breakpoint(mobile-up) {
    top: 51px;
    right: 57px;
  }
  @include breakpoint(desktop-up) {
     top: 83px;
     right: 50px;
  }
  span {
    display: block;
    background: $text;
    width: 16px;
    height: 1px;
    &:nth-child(2) {
      margin: 4px 0;
    }
  /*@include breakpoint(mobile-up) {
      width: 22px;
      height: 2px;
      opacity: 0.8;
      &:nth-child(2) {
        margin: 5px 0;
      }
    }*/
  }
}
