body {
  opacity: 1;
  transition: opacity $ease;
  &.loading {
    opacity: 0;
  }
}

%grid {
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 30px auto 30px;
  @include breakpoint(mobile-up) {
    grid-template-columns: 67px auto 67px;
  }
  @include breakpoint(tablet-up) {
    grid-template-columns: 110px auto 110px;
  }
  @include breakpoint(desktop-up) {
    grid-template-columns: 110px minmax(128px, 200px) 5fr 2.4fr 2fr 110px;
  }
  @include breakpoint(largedesktop-up) {
    grid-template-columns: 120px minmax(128px, 210px) 5fr 2.4fr 2fr 120px;
  }

  //@include breakpoint(mobile-up) {
  //  grid-template-columns: minmax(76px, 1fr) minmax(110px, 2fr) 4.6fr 2.4fr minmax(76px, 1fr);
  //}
}

main {
  position: relative;
}

.sidebar, .fauxSidebar {
  position: fixed;
  left: 0;
  width: 47px;
  border-right: 1px solid grey;
  top: 0;
  z-index: 500;
  height: 100%;
  border-right: 1px solid $sidebar;
  transition: opacity .2s ease;
  .sideLogo {
    span {
      display: none;
    }
  }
  &.state0 {
    opacity: 0;
    pointer-events: none;

  }
  &.state2 {
    .logo_sidebar {
      opacity: 0;
    }
    .logo_sidebar_white {
      opacity: 1;
    }
  }
  &.state3 {
    background: white;
  }
  .icon:before {
    margin-top: 15px;
    margin-left: 15px;
  }
  .logo_sidebar, .logo_sidebar_white {
    position: absolute;
    transition: opacity .2s ease;
  }
  .logo_sidebar_white {

    opacity: 0;
  }
  display: none;
  @include breakpoint(tablet-up) {
    display: block;
  }

  .sideBurger, .sideClose {
    position: absolute;
    top: 50%;
    left: 10px;
    padding: 10px 0px 6px 8px;
    margin-top: -11px;
    width: 20px;
    span {
      width: 1px;
      height: 16px;
      background: $sideburger;
      margin-right: 4px;
      display: inline-block;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .sideClose {
    opacity: 0;
  }

  &.burger0, &.burger1, &.burger3 {
    .sideBurger span {
      background: $sideburger2;
    }
  }
  &.burger2 {
    .sideBurger span {
      background: $sideburger;
    }
  }

}

.logoSidebarTrigger {
  transform: translateY(50px);
  position: absolute;
}

.navOpening {
  .sidebar {
    .logoImg, .sideBurger {
      opacity: 0;
    }
    .sideClose {
      opacity: 1;
      transition: opacity $ease;
      transition-delay: 1s;
      padding: 10px 14px 29px;
      left: 0;
      span {
        background: $sideburger;
        transform: rotate(-45deg);
        height: 20px;
        position: absolute;
        left: 23px;
        background: $mobile-menu-text;
        &:last-child {
          transform: rotate(45deg);
        }
      }
    }
  }
  @include breakpoint(tablet-up) {
    .sidebar, .fauxSidebar {
      &.state0 {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }
}

.navClosing {
  .sideLogo, .sideBurger {
    opacity: 0;
    transition: opacity $ease;
  }
}

.sideTitle {
  @extend %grid;
  h5 {
    font-size: 14px;
    margin-top: 17px;
    padding-right: 20px;
    grid-column: 2/3;
    margin-bottom: 10px;
    @include breakpoint(desktop-up) {
      margin-bottom: 0;
    }
  }
  h4 {
    font-size: 21px;
    line-height: 1.33;
    font-weight: 500;
  }
  /*.text {
    grid-column: 2/3;
    margin-bottom: 39px;
    @include breakpoint(desktop-up) {
      grid-column: 3/5;
    }
  }*/
  &.listContainer h5 {
    margin-top: 0;
  }
  &.large h3 .arrowLink i {
    vertical-align: 7px;
  }
}

.content__columns {
  grid-column: 2/3;
  max-width: 999px;
  display: grid;
  grid-gap: 30px;
  @include breakpoint(portraittablet-up) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px 48px;
  }
  @include breakpoint(desktop-up) {
    grid-column: 3/5;
    grid-gap: 30px 98px;
  }
}

.content__column {
  grid-column: span 1;
  @include breakpoint(desktop-up) {
    margin: 0;
  }
  h3 {
    color: $highlight;
    letter-spacing: 0.3px;
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 21px;
    line-height: 1.33;
    margin-bottom: 9px;
    @include breakpoint(portraittablet-up) {
      font-size: 22px;
    }
    @include breakpoint(desktop-up) {
      font-size: 24px;
    }
  }
  p {
    font-size: 15px;
    line-height: 1.44;
    margin-bottom: 0.8em;
    @include breakpoint(portraittablet-up) {
      font-size: 16px;
    }
    @include breakpoint(desktop-up) {
      font-size: 18px;
    }

  }
}

.content {
  margin-top: 50px;
  box-sizing: border-box;
  @extend %grid;
  @include breakpoint(mobile-up) {
    margin-top: 132px;
  }
  &:first-child {
    margin-top: 0;
  }
  &__sideTitle {
    font-size: 12px;
    margin-bottom: 5px;
    @include breakpoint(mobile-up) {
      font-size: 16px;
      grid-column: 2/3;
      margin-top: 14px;
      padding-right: 20px;
    }
  }

  &.listContainer &__sideTitle {
    margin-bottom: 40px;

  }
  &__intro {
    margin-bottom: 62px;
    grid-column: 2/3;
    @include breakpoint(desktop-up) {
      grid-column: 3/5;
    }
    p {
      font-weight: 400;
      line-height: 1.36;
      font-size: 22px;

    }
  }
  &__text {
    max-width: 999px;
    grid-column: 2/3;
    h3 {
      margin-bottom: 0.5em;
      margin-top: 43px;
      &:first-child {
        margin-top: 0;
      }
    }
    @include breakpoint(desktop-up) {
      grid-column: 3/5;
    }

  }
  &__childList {
    grid-column: 2/4;
    @include breakpoint(mobile-up) {
      margin-right: 0;
    }
    @include breakpoint(desktop-up) {
      grid-column: 3/end;
    }
    a {

      font-family: $sans-serif;
      line-height: 1.47;
      background-color: $highlight-bg;
      text-decoration: none;
      color: $highlight;
      border-bottom: 2px solid white;
      display: block;
      transition: all $ease;
      padding: 30px 30px 34px 40px;
      @include breakpoint(portraittablet-up) {
        padding-bottom: 40px;
      }
      @include breakpoint(tablet-up) {
        display: grid;
        grid-template-columns: 320px auto;
        grid-gap: 30px;
        padding: 32px 48px 47px;
      }
      .title {
        padding-left: 0;
        transition: all $ease;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-weight: 500;
        font-size: 19px;
        margin-bottom: 10px;
        @include breakpoint(portraittablet-up) {
          font-size: 20px;
          margin-bottom: 8px;
        }
        @include breakpoint(desktop-up) {
          font-size: 21px;
          margin-bottom: 0px;
        }

      }
      .snippet {
        font-size: 16px;
        display: block;
        color: $link-on-highlight;
        max-width: 740px;
        font-weight: 400;
        @include breakpoint(portraittablet-up) {
          font-size: 17px;
        }
        @include breakpoint(desktop-up) {
          font-size: 19px;
        }
      }
    }
  }
}

table {
  font-family: $sans-serif;
  border-top: 1px solid $text;
  border-left: 1px solid $text;
  color: $text;
  th {
    background: $highlight-bg;
  }
  td, th {
    border-bottom: 1px solid $text;
    border-right: 1px solid $text;
    padding: 5px;
  }
}

.pageGridWrap {
  .content__text {
    max-width: 100%;
  }
}

.pageGrid {
  display: grid;
  margin-top: 24px;
  grid-gap: 30px;
  max-width: 1186px;
  @include breakpoint(portraittablet-up) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    vertical-align: top;
    h3 {
      background-color: $contrast-bg;
      color: white;
      height: 0;
      background-size: cover;
      background-position: center;
      font-size: 21px;
      line-height: 1.64;
      letter-spacing: 0.3px;
      box-sizing: border-box;
      margin: 0;
      font-weight: $lt;
      padding: 18px 30px 210px; // use to manage height
      display: flex;
      flex-direction: column;
      position: relative;
      @include breakpoint(mobile-up) {
        padding-bottom: 260px;
      }
      @include breakpoint(portraittablet-up) {
        padding-bottom: 210px;
      }
      @include breakpoint(tablet-up) {
        padding-bottom: 260px;
      }
      @include breakpoint(desktop-up) {
        padding: 28px 48px 55.5%;
        font-size: 25px;
      }
      .icon {
        margin-top: 5px;
        opacity: 0;
        transition: all $ease;
      }
      span, .icon {
        position: relative;
        z-index: 2;
      }
      &::after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(black, 0);
        top: 0;
        left: 0;
        transition: background $ease;
        z-index: 1;
      }

    }
    &:hover {
      h3::after {
        background: rgba(black, 0.3);
      }
      .icon {
        opacity: 1;
        margin-left: 20px;
      }
    }
  }
  &__text {
    padding: 20px 30px 35px;
    background-color: $highlight-bg;
    margin: 0;
    flex-grow: 1;
    @include breakpoint(desktop-up) {
      padding: 32px 48px 48px;
    }
    span {
      color: $highlight;
      display: block;
      margin-top: 10px;
    }
  }
  .oxfordVideo__wrap {
        max-height: 61%;
  }
}

.arrowHover {
  background: $highlight-bg;
  transition: all $ease;
  .icon {
    opacity: 0;
    transition: all $ease;
    display: none;
    @include breakpoint(portraittablet-up) {
      display: block;
    }
  }
  &:hover {
    background: $highlight-bg-hover;
    .icon {
      opacity: 1;
      padding-left: 20px;
    }
  }
}